@media only screen and (min-width:992px){
    label{
        font-size: 20px;
    }
 input[type=text]{
     font-size: 15px;
 }

 input[type=submit]{
    font-size: 15px;

 }

}

@media only screen and (min-width:1600px){
    label{
        font-size: 30px;
    }
 input[type=text]{
     font-size: 20px;
 }

 input[type=submit]{
    font-size: 20px;

 }
}