
.container{
  max-width:1400px;
  margin:0 auto;
  font-family:'Raleway';
}
.utilizator { 
  background-color: #001A33; 
  text-align: right;
  position:sticky;
  margin:0 auto;
  width: 100%; 
}

.cont{
    display:inline-block;
    font-size:1em;
    text-decoration:none;
    color:white;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:10px;
    padding-left:10px;
    cursor: pointer;
    border-right: 1px solid white;
}
.cont:hover{
  background-color:#FBB317;
  color:white;
}
.MandarineM{
  width:100%;
  height:250px;
  background-image:url('PereP.jpg');
  max-height:250px;
  display:inline-block;

}
.logodiv{
  background-color:transparent;
  width:20%;
  height:200px;
  float:left;
  
}
.search{
  background-color:transparent;
  width:80%;
  float:right;
  height:100px;
}
.cos{
  background-color:transparent;
  float:right;
  height:25px;
  margin-right:5px;
  font-size:1em;
  color:#001A33;
  text-decoration:none;
}
.cart{
  float:right;
  height:25px;
  margin-right:5px;
}

.cos:hover{
    background-color:#FBB317;
    color:white;
    border-radius:10px;
}
.barasearch[type=text]{
  float: right;
  margin-top:-50px;
  font-family:'Raleway';
  padding: 0.5%;
  border: 1px solid #001A33;
  border-radius:20px;
  font-size: 17px;
  color:#001A33;
}
.buttonsearch{
  float: right;
  margin-right:0;
  padding-top:0.6%;
  padding-bottom:0.6%;
  background: #001A33;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius:15px;
  cursor: pointer;

}
.toolbar{
  background-color:#FBB317;
  display:grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

.tool{
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
  text-align: center;
  font-size:1.5em;
  width:100%;
  cursor: pointer;
  text-decoration:none;
  color:white;
}
.tool:last-child{
  border-right:none;
}
.cont:last-child{
  border-right:none;
}
.logo{
  float:left;
  max-width: 400px;
  height:auto;
  min-width:50px;
  width:8.1%;
	top: 20px;
  left: 10px;
}

a:hover{
  background-color:white;
  color:black;
}

.footer{
  margin:0 auto;
  width: 100%;
  max-width:1400;
  height:100px;
  font-size:1em;
  background-color:#001A33;
  color: white;
  text-align: center;
}
.footer-menu{
  width:100%;
  height:50px;
  display:flex;
  justify-content:center;
  
}
.item-footer-menu{
  flex:1;
  font-size:1.8em;
  margin-top:10px;
  width:100%;
}
.item-footer-menu a{
  color:#FBB317;
  width:100%;
  font-size:3m;
  text-decoration:none;
}
.footer-menu a:hover{
  width:100%;
  background-color:#FBB317;
  color:#001A33;
}
.rightstext{
  float:left;
  width:80%;
  height:auto
}
.rights{
  margin-top:9px;
  margin-left:25%;
}
.VisaMaster{
  float:right;
  width:20%;
  height:auto;
}
.plati{
  float:right;
  width:30px;
  height:35px;
  margin-right:5px;
}
/*Buton contul meu*/
.dropbtncont {
  background-color: #FBB317;
  color: white;
  font-family:'Raleway';
  padding-top:2px;
  padding-bottom:2px;
  padding-right:10px;
  padding-left:10px;
  font-size: 1em;
  border: none;
}

/* Div pentru dropdown content*/
.dropdowncont {

  position: relative;
  text-align:center;
  display: inline-block;
}

/* Optiuni dropdown */
.dropdowncont-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdowncont-content a {
  color: black;
  font-family:'Raleway';
  border-bottom:1px solid #001A33;
  font-size:0.9em;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdowncont-content a:last-child{
  border-bottom:none;
}
/* Culori link*/
.dropdowncont-content a:hover {background-color: #FBB317;}

/* Display meniu drop */
.dropdowncont:hover .dropdowncont-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdowncont:hover .dropbtncont {background-color: #001A33;}

/*Buton produse*/
.dropbtnprod {
  background-color: #FBB317;
  color: white;
  font-family:'Raleway';
  padding-top:2px;
  padding-bottom:2px;
  padding-right:10px;
  padding-left:10px;
  font-size: 1.5em;
  border: none;
}

/* Div pentru dropdown produse*/
.dropdownprod {

  position: relative;
  text-align:center;
  display: inline-block;
}

/* Optiuni dropdown produse */
.dropdownprod-content {
  top:40px;
  left:34px;
  width:80%;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Linkuri din dropdown prod */
.dropdownprod-content a {
  color: black;
  font-family:'Raleway';
  border-bottom:1px solid #001A33;
  font-size:0.9em;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdownprod-content a:last-child{
  border-bottom:none;
}
/* Culori link*/
.dropdownprod-content a:hover {background-color: #FBB317;}

/* Display meniu drop */
.dropdownprod:hover .dropdownprod-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownprod:hover .dropbtnprod {
  background-color: #001A33;
  height:100%;
  width:100%;
}


