
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
  .autentificare{
    margin-left: auto;
    margin-right: auto;
    margin-top:25px;
    font-family:'Raleway';
    margin-bottom:25px;
    width : 40%;
    border-radius: 5px;
    background-color: #DBB317;
    padding: 50px;
}

.text{
  margin-top:25px;
  margin-bottom:25px;

}

.creare[type=password],.creare[type=email]{
    width:100%;
    padding:12px;
    margin-top:4px;
    margin-bottom:16px;
    display:block;
    box-sizing:border-box;
    border:1px solid #ccc;
    border-radius: 2px;
    background-color: #f1f1f1;
   
}

/*cand dai pe o casuta sa o completezi se schimba culoare casutei*/

.titlucont{
  text-shadow: 1px 1px 5px ;
  font-size:2em;
  margin-left: auto;
  margin-right: auto;
  
}
.imagine{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}


.creare[type=password]:focus,.creare[type=email]{
    background-color:#ddd;
    outline:none;
}


.butoncreare {
    background-color:#4CAF50;
    color:white;
    padding:5px 15px;
    text-align:center;
    text-decoration:none;
    border:none;
    cursor:pointer;
    margin:0 auto;
    font-size:16px;
    border-radius: 8px;
    opacity: 1;
}
.clasa-buton{
  
  width:100%;
  display:flex;
}

.butoncreare:hover{
    opacity:1;
}

a{
    color:dodgerblue;
}



